doctype html
html
	head
		title Ethan Calls It
		link(type="text/css" href="/actions.css" rel="Stylesheet")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
		script(src="/actions.js")
		
	body
		h1 Welcome #{user.firstname}
		div.page
			form.call-it
				h2 Make a call
				label(for=title) Title
				span.info
					input(name="title" id="title" placeholder="What is the call?" required)
					span.material-icons(title="This is the call. Make it short and sweet. You can clarify it below") info
				label(for="call-date") Date Made (optional)
				span.info
					input(name="calldate" id="call-date" type="date")
					span.material-icons(title="The date the call was made (if not today)") info
				label(for="expiry") Expiration Date (optional)
				span.info
					input(name="expiry" id="expiry" type="date")
					span.material-icons(title="The date the call should be able to be resolved by. The call will be open ended if you leave this blank.") info
				label(for="description") Additional Information (optional)
				textarea(name="description")
				div.confirm
					input(type="checkbox" id="call-confirm" name="confirm" required)
					label(for="call-confirm") I want to make this call
				button#call-submit(type="submit") Submit
					span.material-icons.cloud cloud_queue
//-
		div.page
			form.witness
				h2 Needs to be witnessed
				dl
//