@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Shrikhand&display=swap');

body {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 1.2rem;
	background-color: #eee;
}

h1, h2, h3, h4, h5, h6, dt {
	font-family: 'Shrikhand', 'Georgia', serif;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 5.5rem;
	color: #ffe082;
}

h2 {
	font-size: 2.7rem;
	color: #ffecb3;
	line-height: 1.1em;
}

dt {
	color: #fff8e1;
}

.background {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	z-index: -100;
	background: top left 60% / cover url(/ethan-head.jpg);
}

.header {
	position: fixed;
	top: 1rem;
	right: 1rem;
	text-align: middle;
}

.header a {
	color: white;
	text-decoration: none;
}

.header .alert {
	font-size: 2rem;
	transform: rotate(20deg);
	vertical-align: text-bottom;
	margin-left: 1rem;
}

.header .description {
	font-family: 'Shrikhand', 'Georgia', serif;
	max-width: 0px;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	text-align: right;
	transition: max-width .3s ease-out;
}

.header:hover .description {
	max-width: 20em;
}

.feed {
	box-sizing: border-box;
	height: 100%;
	width: 50vw;
	padding-left: 6vw;
}

.feed .sticky {
	position: sticky;
	top: 6vh;
}

.feed p {
	margin: 0;
}

.spacer {
	height: 70vh;
	margin-top: 6vh;
	margin-bottom: 40vh;
}

.call {
	height: 120vh;
	margin-top: 6vh;
	margin-bottom: 50vh;
}

.call:last-child {
	height: 100vh;
	margin-bottom: 0;
}

/*** Call Box Styles ***/
.call .submit-time {
	font-size: 80%;
	font-style: italic;
	color: #f5f5f5;
}

.call .witnessed {
	vertical-align: middle;
	font-size: .95em;
	padding-right: .5em;
}

.call .witnessed.yes::after {
	content: "check_circle";
	color: #4DB6AC;
}

.call .witnessed.no::after {
	content: "check_circle_outline";
	color: #9e9e9e;
}

.call dl dt, .call dl dd {
	display: inline;
	margin: 0;
}

.call dl dd {
	margin-left: 1em;
	font-style: italic;
}

.call p {
	margin: 1em 0;
}


.footer {
	text-align: right;
	position: fixed;
	right: 4%;
	bottom: 2%;
}

.footer button {
	font-family: 'Shrikhand', 'Georgia', sans-serif;
	font-size: 100%;
	margin-left: .6em;
	width: auto;
	cursor: pointer;
	color: #fefefe;
	background-color: transparent;
	border: solid 1.5px #fefefe;
	border-radius: .2em;
	padding: .2em .5em;
	vertical-align: middle;
}

.footer button:hover {
	color: #444;
	background-color: #fefefe;
	border: solid 1.5px #fefefe;
}

.scroll-attract {
	position: absolute;
	bottom: 1em;
	left: 6rem;
	font-family: 'Shrikhand', 'Georgia', sans-serif;
	font-size: 120%;
	color: #ffecb3;
	transition: opacity .5s linear;
}

.scroll-attract .attract {
	animation: 3s linear 0s infinite running slideDown;
	width: 1em;
	margin-right: -1em; 
	font-size: 150%;
}
.scroll-attract .attract:nth-child(2) {
	animation-delay: -1s;
}
.scroll-attract .attract:nth-child(3) {
	animation-delay: -2s;
}

.scroll-attract .description {
	margin-left: 1.5em;
}

@keyframes slideDown {
	0% { 
		transform: translateY(-15%);
		opacity: 0;
	}
	50% {
		opacity: 100%;
	}
	100% {
		transform: translateY(65%);
		opacity: 0;
	}
}    

@media (orientation: portrait) {
	:root {
		font-size: 2rem;
	}
	
	.feed {
		width: 80vw;
	}
	
	.footer label {
		display:none;
	}
}